* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.artigoTd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 105px;
}
.artigoTh{
    width: 105px;
}
.artigoTableButton{
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    height: 32px;
    white-space: nowrap;
    width: 32px;
    border-radius: 4px;
    border: none;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.centerButton{
    display: flex;
    justify-content: center;
}
.artigoButton {
    padding: 10px;
    font-size: 16px;
    height: 50px;
    white-space: nowrap;
    width: 100px;
    border-radius: 4px;
    border: none;
    background-color: #cecece;
    color: #fff;
    cursor: pointer;
}
.artigoCatButton {
    padding: 10px;
    font-size: 16px;
    height: 50px;
    white-space: nowrap;
    width: 130px;
    border-radius: 4px;
    border: none;
    background-color: #cecece;
    color: #fff;
    cursor: pointer;
}
.artigoTitulo{
    margin: 20px 0;
}

.artigoInputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  text-align: left;
}

.artigoInputField {
  width: 100%;
  padding: 1rem;
  padding-left: 1.2rem;
  background: #e7e7e7;
  border-radius: 6px;
  border: none;
  color: var(--text);
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
}

.artigoInputField:focus,
.artigoInputField:valid {
  border: 1px solid #2eb557;
}

.artigoInputLabel {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
  transition: 0.3s ease;
}

/* Estilo do toggle */
.artigoToggle {
    position: relative;
    display: inline-block;
    width: 40px; /* Largura do toggle */
    height: 20px; /* Altura do toggle */
}

.artigoToggle input {
    opacity: 0; /* Esconde o checkbox */
    width: 0;
    height: 0;
}

/* O slider (a parte que se move) */
.artigoSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Cor do fundo quando desligado */
    transition: .4s; /* Transição suave */
    border-radius: 10px; /* Arredondar os cantos */
}

/* O círculo dentro do slider */
.artigoSlider:before {
    position: absolute;
    content: "";
    height: 16px; /* Altura do círculo ajustada */
    width: 16px; /* Largura do círculo ajustada */
    left: 2px; /* Espaçamento do círculo */
    bottom: 2px; /* Espaçamento do círculo */
    background-color: white; /* Cor do círculo */
    transition: .4s; /* Transição suave */
    border-radius: 50%; /* Tornar o círculo redondo */
}

/* Quando o checkbox está selecionado */
input:checked + .artigoSlider {
    background-color: #2eb557; /* Cor do fundo quando ligado */
}

input:checked + .artigoSlider:before {
    transform: translateX(20px); /* Move o círculo para a direita */
}

.artigoPopup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.artigoPopup-content {
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
  width: 90%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: artigoPopupFadeIn 0.3s ease-out;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artigoPopup-content p {
  color: #313131;
  margin: 0 0 1rem;
  font-size: 1.05rem;
}

.artigoPopup-content button{
    padding: 0.6rem 1.2rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
  margin: 5px;
}

.artigoPopupButton {
  background: #2eb557;
}

.artigoPopupButton:hover {
  background: #1c6d34;
}

.btnError {
    background-color: #a72828;
}

.btnError:hover {
    background-color: #882121;
}

@keyframes artigoPopupFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.artigoButtons{
    display: flex;
    flex-direction: row;
}
