.popupCompleteProfile {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-out;
}

.completeProfilePopup-content {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 340px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: scaleIn 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  line-height: 1.5;
}

.completeProfilePopup-content p {
  color: #313131;
  margin: 0 0 1rem;
  font-size: 1.05rem;
}

.completeProfilePopup-content button {
  padding: 0.6rem 1.2rem;
  background: #2eb557;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.completeProfilePopup-content button:hover {
  background: #1c6d34;
}

.modalArtigoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalArtigoContent {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.modalArtigoTitulo{
  text-align: center;
  font-weight: bold;
}