*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vacinaInputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  text-align: left;
}

.vacinaInputField {
  width: 100%;
  padding: 1rem;
  padding-left: 1.2rem;
  background: #e7e7e7;
  border-radius: 6px;
  border: none;
  color: var(--text);
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
}

.vacinaInputField:focus,
.vacinaInputField:valid {
  border: 1px solid #2eb557;
}

.vacinaInputLabel {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
  transition: 0.3s ease;
}
.vacinaButton {
    padding: 10px;
    font-size: 16px;
    height: 50px;
    white-space: nowrap;
    width: 125px;
    border-radius: 4px;
    border: none;
    background-color: #cecece;
    color: #fff;
    cursor: pointer;
}
.vacinaTitulo{
    margin: 20px 0;
}

/* Style Lembretes */
.reminder-page {
    margin-top: 120px;
    padding: 20px;
}

.reminder-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.reminder-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reminder-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    justify-content: flex-start; /* Alinha os itens à esquerda */
}

.reminder-card {
    width: calc(25% - 20px); /* Cada cartão ocupa 25% da largura menos 20px de margem */
    margin: 10px; /* Margem ao redor de cada cartão */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reminder-title {
    margin: 10px 0;
}

.reminder-content {
    margin: 10px 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .reminder-card {
        width: calc(50% - 20px); /* Cada cartão ocupa 50% da largura */
    }

    .modal-content {
        width: 90%; /* Modal ocupa 90% da largura da tela */
        max-width: 400px; /* Limita a largura máxima do modal */
    }
}

@media (max-width: 480px) {
    .reminder-card {
        width: calc(100% - 20px); /* Cada cartão ocupa 100% da largura */
    }

    .reminder-page {
        padding: 10px; /* Reduz o padding em telas muito pequenas */
    }

    .modal-content {
        padding: 15px; /* Reduz o padding do modal em telas pequenas */
    }
}

.reminder-card {
    position: relative; /* Necessário para o posicionamento do botão */
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.vacinaPopup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.vacinaPopup-content {
  background: white;
  padding: 1.5rem;
  border-radius: 5px;
  width: 90%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: vacinaPopupFadeIn 0.3s ease-out;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacinaPopup-content p {
  color: #313131;
  margin: 0 0 1rem;
  font-size: 1.05rem;
}

.vacinaPopup-content button{
    padding: 0.6rem 1.2rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
  margin: 5px;
}

.vacinaPopupButton {
  background: #2eb557;
}

.vacinaPopupButton:hover {
  background: #1c6d34;
}

.btnError {
    background-color: #a72828;
}

.btnError:hover {
    background-color: #882121;
}
.btnInfo{
    background-color: #3323c7;
}
.btnInfo:hover{
    background-color: #261d7e;
}

@keyframes vacinaPopupFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.vacinaButtons{
    display: flex;
    flex-direction: row;
}

.vacinaTableButton{
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    height: 32px;
    white-space: nowrap;
    width: 32px;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
