/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.form2{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form3 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 20px 20px 20px;
    width: calc(100% - 40px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputGroup {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}
.errorText{
    color: #ff0000;
}
.button {
    padding: 10px;
    font-size: 16px;
    height: 50px;
    white-space: nowrap;
    border-radius: 4px;
    border: none;
    background-color: #cecece;
    color: #fff;
    cursor: pointer;
}
.squareBtn{
    width: 50px;
    height: 50px;
}

.btnLarge{
    padding: 20px;
}

.button:hover {
    background-color: #999999;
}

.btnSuccess {
    background-color: #28a745;
}

.btnSuccess:hover {
    background-color: #218838;
}
.btnInfo{
    background-color: #0056b3;
}
.btnInfo:hover{
    background-color: #003975;
}
.btnError {
    background-color: #a72828;
}

.btnError:hover {
    background-color: #882121;
}

/* components */
.center{
    justify-self: center;
}
.centerText {
    text-align: center;
}
.textDecorNone{
    text-decoration: none;
}
.textMargins {
    margin-top: 20px;
    margin-bottom: 20px;
}
.leftMargin{
    margin-left: 20px;
}
.rightMargin{
    margin-right: 20px;
}
.double {
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  column-gap: 10px;
}

.row {
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  column-gap: 10px;
}

.double .input-box {
  width: 100%;
}


/*Style para exibição em tabela*/
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Centraliza o texto nas células */
}

th {
  background-color: #f2f2f2;
}

.form-group {
  text-align: center; /* Centraliza o texto nos grupos do formulário */
}

.tableButton {
  margin: 0 5px; /* Adiciona um pequeno espaço entre os botões */
}

/*TIMELINE DE FORMULARIOS MULTI*/
.linhaEtapa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.linhaEtapa-etapa {
    position: relative;
    text-align: center;
    flex: 1;
}

.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
}

.etapa-label {
    margin-top: 10px;
}

.active .circulo {
    background-color: #4CAF50;
}

/*Style Blog*/
.blog-page {
    margin: 120px 0;
    padding: 20px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha */
    justify-content: flex-start; /* Alinha os itens à esquerda */
}

.blog-post {
    flex: 0 1 calc(25% - 20px); /* Cada post ocupa 25% da largura menos 20px de margem */
    margin: 10px; /* Margem ao redor de cada post */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.blog-post:hover
{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.025);
}

.artigoTexto{
    margin: 10px 0;
}
.artigoDate{
    color: rgb(70, 70, 70);
    font-weight: bold;
    margin: 10px 0;
    font-size: 0.9rem;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.read-more {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #0056b3;
}

